<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borjon</title>
    <link rel="stylesheet" href="/css/homePageBootStrap.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
    
    <main>
        <img src="/images/Web-banner-1920-x-700_c17cb33b-09a9-4357-b64e-c96fa884d399.jpg" class="banner" alt="banner">
        <div class="container py-4">
            <div class="row">
                <div class="col-12 text-center mb-4">
                    <h2 class="fw-bold shopByCategory">------ Shop By Category -------</h2>
                </div>
            </div>

            <div class="row justify-content-center align-items-start">
                <div class="col-6 col-md-3 d-flex flex-column justify-content-between menWomen">
                    <div class="mb-3 d-flex justify-content-center">
                        <img src="/images/men-300x290_b0821ac9-0008-4d2e-985c-1a2b1281a475.jpg" class="img-fluid"
                            alt="menShoes">
                    </div>
                    <div class="d-flex justify-content-center">
                        <img src="/images/Women-300x290_1.jpg" class="img-fluid" alt="womenShoes">
                    </div>
                </div>

                <div class="col-6 col-md-6 d-flex justify-content-center">
                    <img src="/images/NEW-IN-570x630_f7dce4e3-b50e-4390-bd56-5d6eeeb203e4.jpg" class="img-fluid"
                        alt="newInShoes">
                </div>

                <div class="col-6 col-md-3 d-flex flex-column justify-content-between bagKids">
                    <div class="mb-3 d-flex justify-content-center">
                        <img src="/images/Bag-300x290-2.jpg" class="img-fluid" alt="Bags">
                    </div>
                    <div class="d-flex justify-content-center">
                        <img src="/images/kids-300x290_4655d2be-bc48-4679-964f-b641d9830245.jpg" class="img-fluid"
                            alt="kidsShoes">
                    </div>
                </div>
            </div>
        </div>
        <section class="trending-section text-center">
            <div class="trending-title">
                <h2>------ Trending -------</h2>
                <ul class="nav justify-content-center mb-4">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Women</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Men</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kids</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bags</a>
                    </li>
                </ul>
            </div>

            <div class="row product-grid justify-content-center">
                <div class="col-3 col-md-2 mb-3">
                    <img src="/images/prod1.png" alt="Product 1" class="img-fluid">
                    <a href="#" class="product-name">BW10066-BLACK–Women Mule</a>
                    <p class="product-price">PKR 3,400</p>
                </div>

                <div class="col-3 col-md-2 mb-3">
                    <img src="/images/prod2.png" alt="Product 2" class="img-fluid">
                    <a href="#" class="product-name">BW10067-BRONZE–Women Slingback</a>
                    <p class="product-price">PKR 3,400</p>
                </div>

                <div class="col-3 col-md-2 mb-3">
                    <img src="/images/prod3.png" alt="Product 3" class="img-fluid">
                    <a href="#" class="product-name">BW10066-MAROON–Women Mule</a>
                    <p class="product-price">PKR 3,400</p>
                </div>

                <div class="col-3 col-md-2 mb-3">
                    <img src="/images/prod4.png" alt="Product 4" class="img-fluid">
                    <a href="#" class="product-name">BW10067-LIGHT BLUE–Women Slingback</a>
                    <p class="product-price">PKR 3,400</p>
                </div>
            </div>
        </section>

        <section class="trending-section text-center">
            <div class="trending-title">
                <h2>------ Best Seller ------</h2>
                <ul class="nav justify-content-center mb-4">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Women</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Men</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kids</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bags</a>
                    </li>
                </ul>
            </div>

            <div class="product-grid">
                <div class="col-3 col-md-2 mb-3">
                    <div class="product-card p-3 text-center">
                        <img src="/images/prod5.png" alt="Product 1" class="img-fluid">
                        <a class="product-name" href="#">BW7078-PINK-Women Flip flop</a>
                        <p class="product-price">PKR 1,400</p>
                    </div>
                </div>

                <div class="col-3 col-md-2 mb-3">
                    <div class="product-card p-3 text-center">
                        <img src="/images/prod6.png" alt="Product 2" class="img-fluid">
                        <a class="product-name" href="#">BW7066-TAN-Women Comfort Slipper</a>
                        <p class="product-price">PKR 3,000</p>
                    </div>
                </div>

                <div class="col-3 col-md-2 mb-3">
                    <div class="product-card p-3 text-center">
                        <img src="/images/prod7.png" alt="Product 3" class="img-fluid">
                        <a class="product-name" href="#">BW7071-FAWN-Women Comfort Slipper</a>
                        <p class="product-price">PKR 3,600</p>
                    </div>
                </div>

                <div class="col-3 col-md-2 mb-3">
                    <div class="product-card p-3 text-center">
                        <img src="/images/prod8.png" alt="Product 4" class="img-fluid">
                        <a class="product-name" href="#">BW9253-DARK/KHAKI-Women Comfort Slipper</a>
                        <p class="product-price">PKR 3,700</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="shop-by-collection text-center">
        <h2>------ Shop by Collection ------</h2>
        </div>
        <div class="container mx-auto">
            <div class="row justify-content-center">
                <div class="col-lg-2 col-md-12 mb-3">
                    <a href="#">
                        <img src="/images/Girl-B.jpg" alt="Girl B" class="img-fluid w-100">
                    </a>
                </div>
                
                <!-- Right Column -->
                <div class="col-lg-6 col-md-12">
                    <div class="row">
                        <!-- Tot Ba Tot -->
                        <div class="col-lg-8 col-md-6 mb-3">
                            <a href="#">
                                <img src="/images/TB.jpg" alt="TOT BA TOT" class="img-fluid w-100">
                            </a>
                        </div>
                        <!-- Digger -->
                        <div class="col-lg-4 col-md-6 mb-3">
                            <a href="#">
                                <img src="/images/DIGGER_44536d68-62ff-4be4-a9a3-abf9994f8c2f.jpg" alt="DIGGER" class="img-fluid w-100">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Gen Z -->
                        <div class="col-lg-4 col-md-6 mb-3">
                            <a href="#">
                                <img src="/images/GEN-Z-300x290.jpg" alt="GEN Z" class="img-fluid w-100">
                            </a>
                        </div>
                        <!-- Bags Collection -->
                        <div class="col-lg-8 col-md-6 mb-3">
                            <a href="#">
                                <img src="/images/940x446-2-BagsCollection.jpg" alt="BAGS COLLECTION" class="img-fluid w-100">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="instaStyleFeed">
            <h2 class="text-center">Insta Style Feed </h2>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        <a href="#">
                            <img src="/images/I1.jpg" alt="instaPost" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        <a href="#">
                            <img src="/images/I2.jpg" alt="instaPost" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        <a href="#">
                            <img src="/images/I3.jpg" alt="instaPost" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        <a href="#">
                            <img src="/images/I4.jpg" alt="instaPost" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>


</body>
</html>