
<header>
    <div class="marquee">
        <p>Enjoy free delivery nationwide for orders above PKR 3000 The standard delivery charges are
            PKR 150 on below 3,000 shopping. Online orders will be deliever in 3 to 5 working days</p>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="products" id="preWinterSaleDropdown" role="button"
                            aria-expanded="false">
                            Products
                        </a>
                        
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="summerStripesDropdown" role="button"
                            aria-expanded="false">
                            Summer Stripes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="preWinterSaleDropdown">
                            <li><a class="dropdown-item" href="#">Men</a></li>
                            <li><a class="dropdown-item" href="#">Women</a></li>
                            <li><a class="dropdown-item" href="#">Kids</a></li>
                            <li><a class="dropdown-item" href="#">Bags</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="womenDropdown" role="button"
                            aria-expanded="false">
                            Women
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="womenDropdown">
                            <li><a class="dropdown-item" href="#">Slippers</a></li>
                            <li><a class="dropdown-item" href="#">Chappals</a></li>
                            <li><a class="dropdown-item" href="#">Sandals</a></li>
                            <li><a class="dropdown-item" href="#">Heels</a></li>
                            <li><a class="dropdown-item" href="#">Platforms</a></li>
                            <li><a class="dropdown-item" href="#">Comfort</a></li>
                            <li><a class="dropdown-item" href="#">Party Wear</a></li>
                            <li><a class="dropdown-item" href="#">Sliders</a></li>
                            <li><a class="dropdown-item" href="#">Flip Flop's</a></li>
                            <li><a class="dropdown-item" href="#">Sneakers</a></li>
                            <li><a class="dropdown-item" href="#">Peep Toe's</a></li>
                            <li><a class="dropdown-item" href="#">Mules</a></li>
                            <li><a class="dropdown-item" href="#">Sling Backs</a></li>
                            <li><a class="dropdown-item" href="#">Court Shoes</a></li>
                            <li><a class="dropdown-item" href="#">Pumps</a></li>
                            <li><a class="dropdown-item" href="#">Shoe</a></li>
                            <li><a class="dropdown-item" href="#">Moccasins</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="menDropdown" role="button"
                            aria-expanded="false">
                            Men
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="menDropdown">
                            <li><a class="dropdown-item" href="#">Slippers</a></li>
                            <li><a class="dropdown-item" href="#">Chappals</a></li>
                            <li><a class="dropdown-item" href="#">Sandals</a></li>
                            <li><a class="dropdown-item" href="#">Peshawari's</a></li>
                            <li><a class="dropdown-item" href="#">Comfort</a></li>
                            <li><a class="dropdown-item" href="#">Safety Shoes</a></li>
                            <li><a class="dropdown-item" href="#">Extra Large Sizes</a></li>
                            <li><a class="dropdown-item" href="#">Sliders</a></li>
                            <li><a class="dropdown-item" href="#">Flip Flop's</a></li>
                            <li><a class="dropdown-item" href="#">Sports</a></li>
                            <li><a class="dropdown-item" href="#">Boots</a></li>
                            <li><a class="dropdown-item" href="#">Mules</a></li>
                            <li><a class="dropdown-item" href="#">Casuals</a></li>
                            <li><a class="dropdown-item" href="#">Formals</a></li>
                            <li><a class="dropdown-item" href="#">Rugged</a></li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="kidsDropdown" role="button"
                            aria-expanded="false">
                            Kids
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="kidsDropdown">
                            <li><a class="dropdown-item" href="#">Back To School</a></li>
                            <li><a class="dropdown-item" href="#">Boys</a></li>
                            <li><a class="dropdown-item" href="#">Girls</a></li>
                            <li><a class="dropdown-item" href="#">Accessories</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="bagsDropdown" role="button"
                            aria-expanded="false">
                            Bags
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="preWinterSaleDropdown">
                            <li><a class="dropdown-item" href="#">Shoulder Bags</a></li>
                            <li><a class="dropdown-item" href="#">Trending Bags</a></li>
                            <li><a class="dropdown-item" href="#">Wallets</a></li>
                            <li><a class="dropdown-item" href="#">Pouches</a></li>
                            <li><a class="dropdown-item" href="#">Laptop Bags</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="accessoriesDropdown" role="button"
                            aria-expanded="false">
                            Accessories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="preWinterSaleDropdown">
                            <li><a class="dropdown-item" href="#">Women</a></li>
                            <li><a class="dropdown-item" href="#">Men</a></li>
                            <li><a class="dropdown-item" href="#">Shoe care</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="/admin/products" id="bestSellersDropdown" role="button"
                            aria-expanded="false">
                            Admin Panel
                        </a>
                    </li>
                </ul>

                <a href="#" class="backToSchool">Back To School</a>

                <div class="d-flex align-items-center">
                    <span class="nav-icons">
                        <i class="bi bi-person"></i>
                    </span>
                    <span class="nav-icons position-relative">
                        <i class="bi bi-heart">
                            <span class="badge rounded-circle"></span>
                        </i>
                    </span>
                    <span class="nav-icons position-relative">
                        <i class="bi bi-cart">
                            <span class="badge rounded-circle"></span>
                        </i>
                    </span>
                </div>
            </div>
        </div>
    </nav>

</header>